default:
  image: golang:1.18-bullseye
  tags:
    - pangea-internal

cache:
  paths:
    - /apt-cache
    - /go/src/github.com
    - /go/src/golang.org
    - /go/src/google.golang.org
    - /go/src/gopkg.in

stages:
  - lint
  - unit_tests
  - integration_tests
  - examples
  - staging_tests

include:
  - /pangea-sdk/.sdk-ci.yml
  - /examples/.examples-ci.yml
