go 1.22

use (
	./examples/audit
	./examples/authn
	./examples/authz
	./examples/embargo
	./examples/file_scan
	./examples/intel
	./examples/redact
	./examples/sanitize
	./examples/share
	./examples/vault
	./pangea-sdk
)
